


body, html {
  // font-family: "Roboto", sans-serif;
    //  background-color: #0a192f;
  margin: 0;
font-family: 'Playfair Display', serif;

  background-color: #000;
  color: #fff; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
