.about-text {
    margin: 80px 0;

    .header {
        display: flex;
flex-direction: row;
    }

    .header:before,
    .header:after {
        content: "";
        // flex: 1 1;
        border-bottom: 1px solid;
        margin: auto;
        color: #fff;
        width: 80px;
    }

    .header:before {
        margin-right: 10px;
    }

    .header:after {
        margin-left: 10px
    }
}
.container-about {
    margin-top: 100px;
    // border: 1px solid red;
.col-about {  
display: flex;
    justify-content: center;
    align-items: center;

            h1 {
            font-family: 'Space Mono', monospace;
                font-size: 180px;
                font-weight: 700;
                color: #31313d;
            }
        
    }
    .img-text {
        width: 100%;
        padding: 10px;
        margin: 0 auto;
        // border: 1px solid yellow;
        p{
            line-height: 1.5em;
        }
            .skills{
                h3{
                    color:#6ff4a5 ;
                }
                   .progress-sm {
                       height: 0.5rem !important;
                     
                   }
            .skill-span {
        display: flex;
        justify-content: space-between;
    }
            }
          .about-button{
            margin-top: 20px;
            button:focus{
                box-shadow: none !important;
            }
button a{
    text-decoration: none;
    color: #fff;
}
button+button {
        margin-left: 20px;

    }
          }
        
    }

}
@media screen and (max-width: 768px) {
.container-about {
        margin-top: 100px;

        .col-about {
display: flex;
justify-content: center;
align-items: center;

                h1 {
                    font-size: 120px;
                    color: #31313d;
                }
            
        }

        .img-text {
            width: 100%;
            padding: 0;
            margin: 5px auto;
            .skills {
                h3 {
                    color: #6ff4a5;
                }

                .progress-sm {
                    height: 0.5rem !important;

                }

                .skill-span {
                    display: flex;
                    justify-content: space-between;
                }
            }

            .about-button {
                margin-top: 20px;
                button+button {
                    margin-left: 20px;

                }
            }

        }

    }
}

@media screen and (max-width: 480px) {
    .container-about {
        width: 90%;
        margin:0 auto;
            margin-top: 70px;
            .col-about {
                margin:20px auto;
            
                    h1 {
                       
                        font-size: 100px;
                        color: #31313d;
                    }
                  
                
            }
    .about2{
     margin-top: 50px;
     text-align: center;
    }
            .img-text {
              
                width: 100%;
                padding: 0;
                margin: 5px auto;
    
                .skills {
                    h3 {
                        color: #6ff4a5;
                    }
    
                    .progress-sm {
                        height: 0.5rem !important;
    
                    }
    
                    .skill-span {
                        display: flex;
                        justify-content: space-between;
                    }
                }
    
                .about-button {
                    display:flex;
                    margin-top: 20px;
    button a{
        font-size: 15px;
    }
                    button+button {
                        margin-left: 20px;
    
                    }
                }
    
            }
    
        }
}